<!-- =========================================================================================
    File Name: TodoEdit.vue
    Description: Edit todo component
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <vs-popup  fullscreen  title="Import Excel de Envios" :active.sync="activePrompt">
        <div class="vx-row">
            <div class="vx-col md:w-1/3 w-full mt-1">
                <label class="vs-input--label">Empresa</label>
                <v-select label="businessName" v-model="form.client"
                          name="client" v-validate="'required'"
                          :options="[]"/>
                <span class="text-danger">{{ errors.first('client') }}</span>
            </div>

        </div>
        <div class="vx-row" v-if="err">
            <div class="vx-col md:w-1/1 w-full mt-1">
            <vs-collapse-item>
                <div slot="header">
                    Errores
                </div>
                <vs-list>
<!--                    <vs-list-item icon-pack="feather" icon="icon-check" :title="error" subtitle=""  v-for="error in admin.massiveErrors"></vs-list-item>-->
                </vs-list>
            </vs-collapse-item>
            </div>
        </div>
        <div class="vx-row">
            <div class="vx-col md:w-1/1 w-full"  >
                <import></import>
            </div>
        </div>
        <div class="vx-row">
            <div class="vx-col w-full">
                <div class="flex flex-wrap items-center justify-end">
                    <vs-button class="ml-auto mt-2"  @click="submitTodo">
                        Guardar
                    </vs-button>
                </div>
            </div>
        </div>
    </vs-popup>
</template>

<script>
    import {mapState} from 'vuex'
    import vSelect from 'vue-select'
    import {Validator} from 'vee-validate';
    import Import from './Import'
    const dict = {
        custom: {
            amount: {
                required: 'El monto es requerido',
                regex: 'El monto es inválido'
            },
            cbu: {
                max: 'El CBU debe contener 22 dígitos',
                min: 'El CBU debe contener 22 dígitos',
                regex: 'El CBU debe solo números'
            },
            country: {
                required: 'El país es requerido'
            },
            status: {
                required: 'El estado es requerido'
            },
            currency: {
                required: 'La moneda es requerida'
            }
        }
    };

    // register custom messages
    Validator.localize('es', dict);
export default {
    components: {
        vSelect,
        Import
    },
    props: {
        displayPrompt: {
            type: Boolean,
            required: true,
        }
    },
    data() {
        return {
            form: Object.assign({}),
            err:false,
            importErrors: []

        }
    },
    computed: {
        ...mapState({
            user: state => state.user
        }),
        activePrompt: {
            get() {
                return this.displayPrompt;
            },
            set(value) {
                this.$emit('hideDisplayPrompt', value);
            }
        }
    },
    methods: {


        init() {

        },
        submitTodo() {
            // if(this.admin.massivePayload){
            //     this.$vs.loading()
            //
            // }else {
            //     this.notificateErrorByCode(this.errorsCode.TICKET_REQUIRE)
            // }

        }
    },
}
</script>
<style>
    .con-vs-dialog .vs-dialog{
        max-width: 600px;
    }
    .btn-upload-file {
        display: none;
    }
    .disabled-upload{
        display: none;
    }

</style>
