<template>
		<div id="dashboard-analytics">
			<div class="vx-row">
				<!-- CARD 1: CONGRATS -->
				<div class="vx-col w-full lg:w-1/1 mb-base">
					<vx-card slot="no-body" class="text-center bg-success-gradient greet-user">
						<img src="@/assets/images/decore-left.png" class="decore-left" alt="Decore Left" width="200" >
						<img src="@/assets/images/decore-right.png" class="decore-right" alt="Decore Right" width="175">
						<feather-icon icon="CactusIcon" class="p-6 mb-8 bg-primary inline-flex rounded-full text-white shadow" svgClasses="h-8 w-8"></feather-icon>
						<h1 class="mb-6 text-white">Welcome</h1>
						<p class="xl:w-3/4 lg:w-4/5 md:w-2/3 w-4/5 mx-auto text-white">If you want see your prepaids cards. Check <strong><router-link to="/prepaid" class="text-white">here</router-link></strong></p>
					</vx-card>
				</div>
			</div>
		</div>
</template>
