@charset "utf-8";

@font-face {
	font-family: "icomoon";
	src:  	url("../fonts/icomoon.eot?390m5p");
	src:  	url("../fonts/icomoon.eot?390m5p#iefix") format("embedded-opentype"),
			url("../fonts/icomoon.ttf?390m5p") format("truetype"),
			url("../fonts/icomoon.woff?390m5p") format("woff"),
			url("../fonts/icomoon.svg?390m5p#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_email:before {
	content: "\e90e";
}
.icon_home:before {
	content: "\e90f";
}
.icon_phone:before {
	content: "\e910";
}
.icon_skype:before {
	content: "\e911";
}
.icon_user-plus:before {
	content: "\e90c";
}
.icon_atm:before {
	content: "\e900";
}
.icon_card-plastic:before {
	content: "\e901";
}
.icon_card-virtual:before {
	content: "\e902";
}
.icon_collecting:before {
	content: "\e903";
}
.icon_deal:before {
	content: "\e904";
}
.icon-deal{
	font-size: 3.56rem;
}
.icon_features:before {
	content: "\e905";
}
.icon_gateway:before {
	content: "\e906";
}
.icon_multicurrency:before {
	content: "\e907";
}
.icon_pay-online:before {
	content: "\e908";
}
.icon_payout:before {
	content: "\e909";
}
.icon_plus:before {
	content: "\e90a";
}
.icon_world:before {
	content: "\e90d";
}
.card-line{
	background-color: #00C853 ;
}
@media only screen and (min-width: 601px) {
	.container {
		width: 950px;
	}
}

@media only screen and (min-width: 993px) {
	.container {
		width: 1200px;
	}
}

html,body {
	height: 100%;
}

body {
	overflow: visible;
}

html {
	font-family: "Open Sans", sans-serif;
}

nav[role="navigation"] {
	background-image: linear-gradient(to bottom, #8c88, #00C853 70%);
	box-shadow: none;
	height: auto;
	position: relative;
	min-height: 500px;
}

@media only screen and (min-width: 601px) {
	.nav-wrapper,
	.navigation {
		min-height: 64px;
	}
}

.navigation {
	background-color: transparent;
	-webkit-transition: .2s;
	transition: .2s;
}

nav ul a {
	font-size: 14px;
	font-weight: lighter;
	line-height: normal;
	padding: 30px 15px;
	color: #fff !important;
	border-top: solid 2px transparent;
}
@media only screen and (min-width: 601px) {
	nav ul li:nth-last-child(2) {
		margin-left: 20px;
	}
}
::placeholder {
	color: unset;
}
nav .brand-logo {
	height: 64px;
	max-width: 165px;
	margin-top: 10px;
}
.brand-logo {
	height: 64px;
	max-width: 165px;
	margin-top: 10px;
	display: inline-flex;
}

nav .brand-logo img {
	max-width: 100%;
	padding-bottom: 9px;
	padding-top: 9px;
}

nav .dropdown-trigger {
	font-size: 14px;
	font-weight: lighter;
	left: 190px;
	position: absolute;
	top: 24px;
	height: 45px;
	padding-top: 3px;
}

.dropdown-content {
	border-radius: 5px;
}

.dropdown-content:before {
    content: " ";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    right: 23px;
    top: -4px;
    transform: rotate(45deg);
    background-color: inherit;
}

.dropdown-content li:hover, .dropdown-content li:active, .dropdown-content li:focus {
	border-radius: 5px;
	background-color: #fff;
}

@media only screen and (max-width: 600px) {
	nav .dropdown-trigger {
		display: none;
	}
}

@media only screen and (min-width: 601px) {
	nav .dropdown-trigger:before {
		background-color: white;
		content: "";
		height: 100%;
		right: calc(100% + 5px);
		position: absolute;
		top: 0;
		width: 1px;
	}
}

nav .dropdown-trigger i {
	height: auto;
	line-height: inherit;
}

nav ul a.btn {
	font-size: 13px;
	margin-top: 17px;

}

nav .nav-background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .1;
}

nav .nav-background .img-background {
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.img-background{
	background-image:url('../images/cactus/background.jpg')
}

nav ul li.active {
    background-color: rgba(0,0,0,0);
}

nav ul .active a,
nav ul a:hover {
	background-color: rgba(0,0,0,0);
	border-top: solid 2px rgba(0,0,0,0);
}

nav .nav-header {
	clear: both;
	padding: 50px 0;
}

nav .nav-header-gateway {
	padding-bottom: 175px;
	padding-top: 75px;
	color: #fff;
}

nav .nav-header h1 {
	margin-top: 0;
	font-weight: lighter;
	color: #fff;
}

nav .nav-header h1 span {
	font-size: 3.8rem;
}

nav .nav-header h1 strong {
	font-size: 5rem;
	font-weight: bolder;
}
.page-footer{
	background-color: #00c853;
}
.page-footer li a {
	color: #999;
	font-size: 13px;
}

.page-footer li a:hover {
	color: #666;
}

/* Site */
.ps-detail .col + .col {
	border-left: 1px solid #dcdcdc;
}

.icon-block .material-icons {
	color: #1bbd6f;
	font-size: inherit;
}

#contact {
	margin-bottom: 80px;
}

/* Gateway */
#gateway, .smilecard, #collecting, #contact {
	margin-top: -110px;
}

#gateway .row-flex,
#contact .row-flex,
.smilecard .row-flex {
	margin-bottom: 30px;
}

#gateway .card-panel,
#contact .card-panel,
.smilecard .card-panel,
.cardtype .card-panel,
#brands .card-panel {
	border-radius: 12px;
	height: 100%;
}

#gateway h2,
.smilecard h2 {
	margin-top: 0;
}

#gateway .apply-now,
.smilecard .apply-now {
	margin: 50px 0;
}


.cactuscard-subtitle {
	line-height: 35px;
	color: #fff;
}

#credit-cards, #partners {
	padding: 60px 0;
}

#credit-cards h3,
#partners h3,
#brands h3,
.why-request h3 {
	margin-top: calc(50px - 1rem);
}

.brands {
	-ms-flex-pack: center;
	justify-content: center;
	margin: 40px 0 35px;
}

.brands .card {
	border-radius: 6px;
	height: 80px;
	-webkit-justify-content: center;
	justify-content: center;
	width: 110px;
}

#partners {
	margin-bottom: calc(30px - 1rem);
}

#partners img {
	margin: auto;
}

@media only screen and (min-width: 600px) {
	#partners img {
		max-width: 65%;
	}

	#partners .max-35 {
		max-width: 35%;
	}

	#partners .max-45 {
		max-width: 45%;
	}

	#partners .max-55 {
		max-width: 55%;
	}
}

#partners .row {
	margin: 0;
}

#partners .col {
	text-align: center;
	display: flex;
	border: 1px solid #ddd;
	border-left: 0;
    border-top: 0;
}

#partners .col:last-child {
	border-right: 0;
}

@media only screen and (max-width: 600px) {
	#partners .col:nth-child(2n) {
		border-right: 0;
	}
}

#partners > .container > .row:last-child > .col {
	border-bottom: 0;
}

/* collecting */
.collecting .circle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 200px;
  z-index: 1000;
}

.collecting .circle:after {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 50%;
  bottom: 10px;
  content: "";
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: -1;
}

.collecting h3 {
  color: #532a97;
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
  line-height: 25px;
}

@media screen and (min-width: 993px) {
  .collecting .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .collecting .col + .col .circle:before {
    content: "●\00a0●\00a0●\00a0●";
    display: none;
    font-size: .5rem;
    position: absolute;
    top: 50%;
    right: calc(100% + 7px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.collecting .col {
	float: none;
	margin-bottom: 25px;
}

#brands .card-panel img {
	max-width:100%;
	max-height:100%;
}

#brands {
	margin-bottom: calc(40px - 1rem);
}

#brands .card-panel {
	height: 200px;
	-webkit-justify-content: center;
	justify-content: center;
}

#brands .row .col {
	margin-left: auto;
  margin-right: auto;
}

/* SmileCard */
#gateway .card-panel,
#contact .card-panel,
.smilecard .card-panel {
	margin-bottom: 0;
	position: relative;
}

@media only screen and (max-width: 600px) {
	#gateway .card-panel,
	#contact .card-panel,
	.smilecard .card-panel {
		z-index: 998;
	}
}

.why-request {
	position: relative;
}


.why-request:after {
	background-color: #eee;
	bottom: 40px;
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

@media only screen and (min-width: 601px) {
	.why-request:after {
		bottom: 85px;
	}
}

.why-request img,
.why-request-list {
	margin-top: 80px;
}

.why-request img {
	margin-left: -.75rem;
}

.why-request-list {
	margin-left: 30px;
}

.why-request-list li {
	margin-bottom: 30px;
	padding-left: 20px;
	position: relative;
}

.why-request-list li:before {
	color: #4a148c;
	content: "●";
	left: 0;
	position: absolute;
}

.cardtype {
	padding-bottom: 50px;
}


#gateway .card-panel,
.smilecard .card-panel {
	text-align: center;
}

#gateway .card-panel,
#contact .card-panel,
.smilecard .card-panel,
.cardtype .card-panel {
	padding: 50px;
}

#gateway .card-panel p,
#contact .card-panel p,
.smilecard .card-panel p {
	margin-bottom: 0;
}

.why-request-list h6,
.cardtype h6 {
	font-weight: 600;
	margin-bottom: 0;
}

.why-request-list p {
	margin-top: 0;
}

.cardtype h3 {
	margin-bottom: 50px;
}

@media only screen and (min-width: 601px) {
	.cardtype h3 {
		margin-top: -50px;
	}
}

.cardtype h6 {
	margin: 0;
}

.cardtype h6 i {
	font-size: 60px;
	vertical-align: middle;
}

.cardtype .card-panel {
	position: relative;
}

.cardtype .card-panel .last {
	margin-bottom: 50px;
}

.cardtype a {
	position: absolute;
    bottom: 50px;
}

/* SignIn */
.login {
	border: 1px solid #f2f2f2;
	border-radius: 12px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.login input:-webkit-autofill {
	background-color: transparent;
}

.login h5 {
	margin-top: 0;
}

.section-login a,
.section-login p {
	font-size: 12px;
	margin-bottom: 10px;
}

.login .progress {
	height: 12px;
}

.login .progress-bar {
	float: left;
	height: 100%;
	-webkit-transition: width .35s ease;
	-o-transition: width .35s ease;
	transition: width .35s ease;
}

.g-recaptcha > div {
	height: auto !important;
	margin-bottom: 10px;
	margin-top: 10px;
	width: auto !important;
}

.login-screen nav[role="navigation"]{
	min-height: 400px
}

.login-screen .section-login{
	margin-top: -300px;
}

.login-screen nav .brand-logo {
    position: relative;
}

.login-screen .nav-wrapper.container {
    text-align: center;
}

.login-screen #submitBtn {
	width: 100%;
	margin: 20px 0;
	text-transform: uppercase;
}

.login-screen .createBtn {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #4527a0;
	color: #4527a0;
	width: 100%;
	text-transform: uppercase;
}

.login-screen .createBtn:hover {
	background-color: #4527a0;
	color: #fff;
	border: 1px solid #4527a0;
}

.login-screen .new {
	border-top: 1px solid #ddd;
}

.login-screen .new p{
	color: #666;
	text-align: center;
	margin-bottom: 20px;
}

.login-screen .card{
	margin-bottom: 60px;
}

.login-screen .card .card-content {
	padding: 40px 50px;
}

.login-screen h5 {
	font-size: 1.5em;
	margin: 0;
}

.login-screen nav .dropdown-trigger {
	left: 0;
}

.login-screen form {
	margin-top: 30px;
}

.login-screen .subtitle {
	margin-top: 15px !important;
	font-size: 13px;
}

@media only screen and (min-width: 601px) {
	.login-screen nav .dropdown-trigger:before {
		background: none
	}
}
@media only screen and (max-width: 992px){
	.login-screen nav .brand-logo {
		left: 0;
		-webkit-transform: none;
		transform: none;
	}
	.login-screen nav[role="navigation"]{
		min-height: 270px;
	}

	.login-screen .login {
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-bottom: 1px solid #ddd;
	}
}

/* home */
#home .icon-container {
	margin-bottom: calc(30px - 1rem);
	margin-top: calc(50px - 1rem);
}

@media only screen and (min-width: 601px) {
	#home .col + .col .icon-container {
		border-left: 1px solid #ddd;
	}
}

.icon-container [class*="icon_"] {
	font-size: 80px;
}

.icon-container h2 {
	margin-top: 0;
}

.icon-container h6 {
	font-size: 16px;
}

.icon-container p {
	font-size: 13px;
	margin-top: 0;
}

.testimony-carousel {
	margin: 20px 0 45px;
}

.testimony-carousel .slick-list {
	padding-bottom: 25px !important;
	padding-top: 25px !important;
}

.testimony-carousel .col {
	outline: 0;
	position: relative;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.testimony-carousel .col.slick-center {
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
}

.testimony-carousel .card-panel {
	border-radius: 5px;
	display: inline-block;
	padding-bottom: 48px;
	width: 85%;
}

.testimony-carousel .avatar {
	margin-top: -65px;
}

.testimony-carousel .avatar h6 {
	margin-bottom: 0;
}

.testimony-carousel .avatar p {
	margin-top: 5px;
}

.testimony-carousel .avatar img {
	border: 1px solid #ddd;
	display: inline-block;
	height: 100px;
	width: 100px;
}

#testimony h3 {
	margin-top: 0px;
}

#testimony {
	padding: 60px 0;
}

.home-brands img {
	padding: 0 20px;
}

.home-brands img + img {
	border-left: 1px solid #ddd;
}

/* about */
#aboutus > .row {
	margin-bottom: 0;
	padding: 50px 0;
}

#aboutus .valign-wrapper {
	margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
	#aboutus .valign-wrapper {
		display: block;
	}
}

/* common */
.ready {
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 0;
	padding: 60px 0;
}

.ready h4 {
	margin-bottom: 1.5rem;
	margin-top: 0;
}

.slick-dots {
    bottom: -20px;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.slick-dots li {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    height: 20px;
    padding: 0;
	position: relative;
    width: 20px;
}

.slick-dots li button {
	border-radius: 50%;
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    padding: 0;
    background-color: #6a1b9a;
}

.slick-dots li.slick-active button {
	background-color: #999;
}

/* Library */
@media only screen and (min-width: 601px) {
	.row-flex {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
	  margin-left: -.75rem;
	  margin-right: -.75rem;
	}
}

.f-16 { font-size: 16px !important; }
.f-14 { font-size: 14px !important; }
.f-13 { font-size: 13px !important; }

.btn {
	text-transform: inherit;
}

.btn-medium {
	height: 42px;
	line-height: 42px;
	padding: 0 25px;
}

.btn-large {
	height: 50px;
	line-height: 50px;
	padding: 0 25px;
}

.btn-rounded {
	border-radius: 40px;
}

.modal .btn-close {
	position: absolute;
	right: 15px;
	top: 15px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #4527a0;
    -webkit-box-shadow: 0 1px 0 0 #4527a0;
    box-shadow: 0 1px 0 0 #4527a0;
}
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #4527a0;
}

.input-field>div.error, #tyc-error  {
	color: red !important;
	font-size: 0.75em;
	padding-bottom: 10px;
}

#recaptchaHide-error {
	color: red !important;
    font-size: 0.75em;
    padding-bottom: 10px;
    margin-top: -10px;
}

.purple.darken-3{
	background-color: #4527a0 !important;
}

.purple.btn:hover {
	background-color: #fff !important;
	color: #4527a0 !important;
	border: 1px solid #4527a0;
}

.white.btn:hover {
	background-color: #5c3b97 !important;
	color: #fff !important;
	border-top: none;
}

.green.btn, .deep-purple.btn, .purple.btn{
	color: #fff !important;
}

.green.btn:hover {
	background-color: #5c3b97 !important;
	color: #fff !important;
}

.dropdown-content li>a, .dropdown-content li>span, .purple-text.text-darken-3 {
	color: #4527a0 !important;
}

.dropdown-content li>a, .dropdown-content li>span {
	font-size: 14px;
}

#contact .card-panel h4 {
	margin-top: 0;
	font-size: 1.5em;
}

#contact .card-panel .material-icons {
	float: left;
    margin: 0 10px 0 0;
}

#contact .card-panel {
	height: 100%;
}

#contact .card-panel {
	z-index: 11;
	overflow: hidden;
	padding: 0;
	margin: 0
}

#contact .row {
	margin: 0
}

#contact .col-form {
	margin: 0;
	padding: 50px;
}

#contact .col-form input, #contact .col-form textarea {
	font-weight: lighter;
}

#contact .col-info {
	background-color: #f5f5f5;
	color: #666;
	padding: 50px;
	position: relative;
}

#contact .col-info h4{
	margin-bottom: 40px;
	color: #424242;
}

#contact .col-info a {
	color: #666;
}

#contact .col-info i {
	font-size: 2em;
	margin-right: 30px;
	margin-top: -2px;
	float: left;
}

#contact .col-info p {
	margin-top: 13px;
}

@media only screen and (min-width: 601px) {
	#contact .col-info {
		min-height: 550px;
	}
}

#contact #map {
	width: 100%;
	height: 250px;
	position: absolute;
	bottom: 0;
	right: 0;
}

#contact input, #contact textarea, #contact .col-info p {
	font-size: 13px;
}

#forgot form {
	margin-top: 25px;
}

.terms a, .terms .text-purple {
	color: #4527a0;
}

.terms h3 {
	font-size: 1.75em;
}

.terms h4 {
	font-size: 1.25em;
}

.terms .bold {
	font-weight: bold;
}

.btn-login {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #fff;
	color: #fff;
	line-height: 41px;
}

.btn-login:hover {
	background-color: #fff;
	color: #4527a0;
	border: 1px solid #fff;
}

.btn-signup {
	line-height: 41px;
}

.btn-start {
	line-height: 49px;
}

.btn-signup, .btn-start {
	background-color: #fff;
	border: 1px solid #fff;
	color: #4527a0;
	font-weight: lighter;
}

.btn-signup:hover, .btn-start:hover {
	background-color: rgba(255, 255, 255, 0);
	color: #fff;
	border: 1px solid #fff;
}

.recovery .card p {
    margin: 15px 0 0;
}

.tabs .tab a{
	color:#4527a0;
}

.tabs .tab a:hover {
	background-color:#fff;
	color:#4527a0;
}

.tabs .tab a.active {
	background-color:#fff;
	color:#4527a0;
}

.tabs .indicator {
	background-color:#4527a0;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(74, 39, 162, 0.2);
    outline: none;
}

select {
	border: none;
}

.complete-signup .login {
	max-width: 750px;
}

.complete-signup .tabs {
	margin-top: 6px;
}

.complete-signup form {
	margin-top: 15px;
}

.complete-signup form .row {
	margin-bottom: 10px;
}

.news-body nav[role="navigation"] {
    min-height: 430px;
}

@media only screen and (min-width: 993px) {
    .news-section > .container {
        width: 980px;
    }
}

.news {
    height: 100%;
}

.news-header {
    padding: 40px 15px;
}

.news-content {
    margin-top: -110px;
    padding: 48px;
    position: relative;
}

.news-content .tiny {
	vertical-align: middle;
}

#press,
.news-content .figure {
	margin: 40px 0;
}

.news-content strong {
    font-weight: bold;
}

.news-title {
    letter-spacing: -1px;
    margin-bottom: 0;
}

.news-summary {
    margin-top: 0;
}

.outline-purple {
    border: 1px solid #4527a0;
    color: #4527a0;
}

.outline-purple:active,
.outline-purple:hover,
.outline-purple:focus {
    background-color: #4527a0;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #ccc!important;
  -webkit-text-fill-color: #707173!important;
  -webkit-box-shadow: 0 0 0px 100px #fff inset!important;
  transition: background-color 5000s ease-in-out 0s!important;
}

.tyc-div {
	text-align: left;
}

.tyc-div span {
	font-size: 12px !important;
}
